* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* Note*/
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --bg-color: #031130;
    --main-color: #14a6f6;
    --sec-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 2rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}










/* Header  */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* new*/
    background: var(--bg-color);
    padding: 24px 14%;
    /* new*/
    transition: .3s;
}

.logo {
    color: var(--text-color);
    font-size: 2.0rem;
    font-weight: 800;
}

span {
    color: var(--main-color);
}


/* Box-Menu Icon */
#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


/* Navbar */
.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    background: var(--main-color);
    transition: .5s;
}







/* Home */
section {
    padding: 100px 10%;
    /* new*/
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

.home-img img {
    width: 390px;
    max-width: 100%;
    /* new*/
    height: auto;
}

.home-text h5 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(yellow);
    font-weight: 600;
    line-height: 1;
    margin: 0 0 20px;
}

.home-text h6 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 480;
    margin-bottom: 25px;
}

.home-text p {
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    /* line-height: 2rem; */
    margin-bottom: 1.5rem;
    color: var(--sec-main-color);
}


/* button to download CV */
.btn {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    /* new*/
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    /* new*/
    transition: ease all 0.35s;
   
}

.btn:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    /* new*/
}



/* button for social media accounts  */
.fa {
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 11px;
    margin-right: 5px;
    border-radius: 10px;
  }


.fa-github{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.fa-linkedin{
    background: #254a98;
    color: white;
}
.fa-google{
    background: #9d140d;
    color: white;
}
.fa-instagram{
    background: #8b0885;
    color: white;
}
.fa-twitter{
    background: #05a8cc;
    color: white;
}






/* ABOUT */
.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    /* new*/
    align-items: center;

}

.about-img img {
    width: 390px;
    max-width: 100%;
    /* new*/
    height: auto;
}

.about-text h3 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 30px;
    /* new*/
}

.about-text h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: var(--h2-font);
    line-height: 1.2;
    /* new*/
    max-width: 470px;
    margin-bottom: 2rem;
}

.about-text p {
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.5rem;
    /* line-height: 1.8rem; */
    color: var(--sec-main-color);
}

.count {
    margin-bottom: 2rem;
}

.about-text .count a {
    color: var(--sec-main-color);
    margin-right: 20px;
    word-spacing: 5px;
    /* new*/
    /* border: 2px solid var(--main-color) ;
    border-radius: 5px;
    padding: 5px; */
}

.count span {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
}

.about-btn .btn {
    margin-center: 22px;
}




/* Services  */
.center {
    text-align: center;
}

.center h3 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}

.row {
    background: #0b0b13;
    padding: 60px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.row i {
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}

.row h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--text-color);
}

.row p {
    font-size: 18px;
    color: var(--sec-main-color);
    line-height: 20px;
}

.row:hover {
    transform: translateY(-17px);
    box-shadow: 15px 15px 30px 0px rgb(0, 0, 0);
}




/* Call to Action */
.cta {
    background: #0b0b13;
    width: 100%;
    padding: 150px 0;
    text-align: center;
    margin: 100px auto;
}

.cta h4 {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.cta h2 {
    color: var(--main-color);
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 40px;
}


/* Resume */
.resume-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    /* New */
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4.4rem;
}

.box {
    background: #0b0b13;
    padding: 40px 30px;
    border-radius: 15px;
    border: #14a6f6;
    cursor: pointer;
    transition: all .40s;
}

.box h6 {
    color: #3e4455;
    font-size: 14px;
    font-weight: 600;

}

.box h4 {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 13px;
}

.box p {
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.2rem;
    color: var(--sec-main-color);
}

.box h5 {
    font-size: 14px;
    font-weight: 500;
    color: var(--sec-main-color);
}

.box:hover {
    transform: translateY(-17px);
    box-shadow: 15px 15px 30px 0px rgb(0, 0, 0);
}


/* Contact ME */
.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}

.contact-form form {
    position: relative;
    width: 550px;
}

form input,
form textarea {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #0b0b13;
    color: var(--text-color);
    margin-bottom: 0.3rem;
    border-radius: 10px;
}

form input::placeholder,
form textarea::placeholder {
    color: var(--main-color);
    text-align: center;
}

textarea {
    resize: none;
    height: 200px;
}

form .send-btn {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    /* new*/
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    /* new*/
    transition: ease all 0.35s;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form .send-btn:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    
}

/* Footer */
.footer {
    text-align: center;
    padding: 30px;
    color: var(--main-color);
    background: #0b0b13;
    margin-top: 3rem;
    line-height: 1.7rem;
}





/* Responsiveness */
@media (max-width:1433px) {
    header {
        padding: 23px 3%;
    }

    section {
        padding: 50px 3%;
    }

    .home-img img{
        width:300px;
        height: 700px;
    }
    :root {
        --big-font: 2.4rem;
        --h2-font: 1.2rem;
    }
    .about-btn .btn {
        margin: 5px 3px;
    }
}
@media(max-width:1020px) {
    :root {
        --big-font: 2.4rem;
        --h2-font: 1.2rem;
        --p-font: 0.9rem;
    }

    .home {
        height: 80vh;
    }

    .home-img img {
        width: 300px;
        height: 300px;
    }

    .about-btn .btn {
        margin: 5px 3px;
    }

    .count {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:830px) {
    header {
        padding: 18px 3%;
    }

    .home-img img {
        width: 280px;
        width: 100%;
        height: auto;
    }

    #menu-icon {
        display:contents;

    }
    .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px black;
    }

    .home-text {
        max-width: 100%;
    }

    .home-text p {
        max-width: 100%;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        border-left: 2px solid var(--main-color);
        margin: 0.5rem;
        display: block;
    }

    .navbar.active {
        /* New and important role in hamburger file (look js for better understanding) */
        top: 100%;
    }

    .about-img {
        width: auto;
        height: auto;
    }

    .about-text h2 {
        max-width: 100%;
    }

    .about-text p {
        max-width: 100%;
    }
}
@media(max-width:850px){
    header{
        width: 100vw;
    }
    body{
        width: 100vw;
    }
}
@media (max-width:780px) {
    header{
        padding: 10px 3%;
    }
    .home {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
        margin-top: 80px;
        height: 100vh;
    }

    .home-text {
        max-width: 100%;
    }

    .home-img img {
        max-width: 100%;
        width: 250px;
        height: auto;
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-text h2 {
        max-width: 100%;
    }

    .about-img {
        order: 2;
    }

    .resume-content{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }

}

@media (max-width:450px){
    .home{
        height: auto;
    }
    .header{
        width: auto;
    }
}

@media(max-width:243px){

}